.asidemenu {
  position: absolute;
  top: 20px;
  right: 5px;
  width: 6rem;
  height: 7rem;
  border: 2px solid black;
  display: flex;
  display: grid;
  place-items: center;
  background-color: white;
}

.asidemenu.hidden {
  display: none;
}
.asidemenu.visible {
  display: grid;
}



.list {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
  
}

.close {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
