
.button-interfaz {
  position: absolute;
  align-items: center;
  top: 0.8rem;
  right: 1rem;
  background-color: #b9001f;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0.6rem 1.25rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}