.important-message-container {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    /* position: absolute; */
}

.important-message-container p {
    color: white;
}

.red-message {
    border: 2px solid red;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(255, 0, 0, 0.625);
}

.hidden-message {
    display: none;
}