.wan-table  {
  width: 99%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 10px;
}


.wan-table th,
.wan-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  font-size: 0.8rem;
  text-align: center;
}

.wan-table td {
  padding-right: 5px;
  padding-left: 5px;
}

.wan-table th {
  background-color: #444444;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.wan-table tr:hover {
  background-color: #ebebeb;
}

.filtro-wan {
    margin-top: 10px;
}

@media (max-width: 1330px) {
    .wan-table  td {

        font-size: 0.7rem;
    }
  }