

.main-admin-home {

  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.contenedor {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem; 
  justify-items: center; 
  align-items: center; 
  
}

.icono-contenedor {
  text-align: center;
  width: 14rem;
  height: 5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icono-contenedor a {
  color: #bd0b21;
}

