.navbar {
  width: 100%;
  height: 4rem;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  position: relative;
  
}

.logo {
  width: 12.5rem;
  height: 3rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-title {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 2.5rem;
  color: #bd0b21;
}

.home-link, .admin-link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  /* padding: 0.6rem 1.25rem; */
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  margin-left: 1rem;
  height: 1.5rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
}

.home-link {
  background-color: #b9001f;
}

.admin-link {
  position: absolute;
  background-color: #7b00b9;
  right: 10px;
}

@media (max-width: 830px) {

  .main-title {
    position: absolute;
    /* left:; */
    font-size: 2rem;
  }
  .logo{
    display: none;
  }
}

@media (max-width: 550px) {
  .button-interfaz {
    display: none;
  }
  .main-title {
    font-size: 1.2rem;
    /* left: 9rem; */
  }
}