.devices-container {
  margin-left: 7px;
  margin-right: 7px;
  overflow-y: auto;
  max-height: 57vh;
  /* max-height: 28rem; */
  border-bottom: solid 1px black;
}

.devices-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-y: auto;
  word-break: break-all;
  overflow-y: auto;
  border: 1px solid black;
}

.devices-container th,
.devices-container td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  font-size: 0.6rem;
  text-align: center;
}

.devices-container td {
  padding-right: 5px;
  padding-left: 5px;
}

.devices-container table th {
  background-color: #444444;
  color: white;
  font-weight: bold;
  font-size: 0.6rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-right: white 1px solid;
}

.devices-container tr:hover {
  background-color: #ebebeb;
}

.filtro-devices {
  margin-top: 10px;
}

.row-count-devices {
  font-size: 0.7rem;
  margin-left: 7px;
  /* margin-top: 3px; */
}

@media (max-width: 1400px) {
  .data-table-devices tr td,
  .devices-container table thead tr th {
    font-size: 0.6rem;
  }
}
