.kpi-table {
  border-collapse: collapse;
  width: 80%;
  border: 1px solid black;
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: 2rem;
}

.kpi-table td, .kpi-table th {
  font-size: 1rem;
  border: 1px solid black;
}


.section-dash {
  width: 30rem;
  height: 14rem;
  border: 3px solid black;
  border-radius: 15px;
  margin: 0.6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section-dash h2 {
  position: relative;
  top: 0.8rem;
}

.kpi-table td, .kpi-table th {
  text-align: center;
  padding: 2px;
  font-size: 0.7rem;
  width: 1%;
}

.overall td{
  font-size: 1rem;
}



@media (max-width: 530px) {
  .section-dash {
    width: 90%;
  }

}

@media (max-width: 421px) {
  .section-dash {
    height: 18rem;
  }
}