* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

.refresh-button-container {
  position: fixed;
  bottom: 2px;
  right: 2px;
  width: 1.5rem;
  height: 1.5rem;
}

.refresh-button {
  background-color: #505151;
  color: white;
  border: none;
  border-radius: 80%;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.kpi-red {
  background-color: red;
  color: white;
  font-weight: bold;
}

.kpi-green {
  background-color: rgb(3, 186, 31);
  color: white;
  font-weight: bold;
}

.kpi-yellow {
  background-color: yellow;
  font-weight: bold;
}

.kpi-blue {
  background-color: rgb(29, 158, 250);
  color: white;
  font-weight: bold;
}

.spinner-dash-container {
  display: grid;
  place-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
