.dates-reset-fw {
    background-color: white;
    position: absolute;
    right: 0;
    top: 8rem;
    width: 300px;
    z-index: 9999;
    height: calc(80vh);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    border-left: black solid 1px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    max-height: 80vh;
    overflow-y: auto;
}