.table-infra-general-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.table-infra-general-container .table-core {
  /* width: 90%; */
  border-collapse: collapse;
}

.table-core {
  width: 100%;
}

.table-core td,
.table-core th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-weight: bold;

}

.table-core th {
  font-size: 0.8rem;
  color: white;
  background-color: #444444;
}

.table-core td {
  font-size: 0.7rem;  

}

.table-core td .fail-elements-container {
  margin-top: 10px;
  max-height: 100px;
  overflow-y: auto;
}

.fail-elements-container p,
.status-fail-infra-gen {
  color: red;
}

.status-ok-infra-gen {
  color: rgb(5, 165, 5);
}

.circulo-vacio {
  width: 100px;
  height: 100px;
  border: 10px solid green;
  border-radius: 50%;
}

