.devices-dash-table,
.devices-dash-table-home {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: center;
}

.devices-dash-table th,
.devices-dash-table td,
.devices-dash-table-home th,
.devices-dash-table-home td {
  border: 1px solid black;
  padding: 8px;
}

.devices-dash-table {
  width: 33rem;
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse; 
}

.devices-dash-table th {
    font-size: 1rem;
}

.devices-dash-table-home {
  width: 80%;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.devices-dash-table-home th{
    font-size: 1rem;
}